<%= form_with(model: issue_user_modification) do |form| %>
  <% if issue_user_modification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(issue_user_modification.errors.count, "error") %> prohibited this issue_user_modification from being saved:</h2>

      <ul>
        <% issue_user_modification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :issue_id, style: "display: block" %>
    <%= form.number_field :issue_id %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :modificated_type, style: "display: block" %>
    <%= form.text_field :modificated_type %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.date_field :created_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
