<div id="<%= dom_id issue_user_modification %>">
  <p>
    <strong>Issue:</strong>
    <%= issue_user_modification.issue_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= issue_user_modification.user_id %>
  </p>

  <p>
    <strong>Modificated type:</strong>
    <%= issue_user_modification.modificated_type %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= issue_user_modification.created_at %>
  </p>

</div>
